<hr>
    
    			<!--Đối Tác-->
			<div class="container text-center">
				<h3 style="color: #0000FF">CÁC CÔNG TY LIÊN KẾT</h3>
				<br>
				<div class="row">
					<div class="col-sm-2">
						<img src="Images/lk-priceline.jpg" class="img-responsive" style="width:100%" alt="Image">
						<p>PriceLine</p>
					</div>
					<div class="col-sm-2">
						<img src="Images/lk-kayak.jpg" class="img-responsive" style="width:100%" alt="Image">
						<p>Kayak</p>
					</div>
					<div class="col-sm-2">
						<img src="Images/lk-rentalcars.png" class="img-responsive" style="width:100%" alt="Image">
						<p>Rentalcars</p>
					</div>
					<div class="col-sm-2">
						<img src="Images/lk-booking.png" class="img-responsive" style="width:100%" alt="Image">
						<p>Booking</p>
					</div>
					<div class="col-sm-2">
						<img src="Images/lk-open.jpg" class="img-responsive" style="width:100%" alt="Image">
						<p>OpenTable</p>
					</div>
					<div class="col-sm-2">
						<img src="Images/lk-agoda.png" class="img-responsive" style="width:100%" alt="Image">
						<p>Agoda</p>
					</div>
				</div>
			</div><br>
			<!--End Đối Tác-->
    <hr>
			<!--Liên Hệ-->
			<div class="container text-center">
				<h2 class="text-center">LIÊN HỆ VỚI CHÚNG TÔI</h2>
				<div class="row">
					<div class="col-sm-5 text-left">
						<p>Nhóm 4- Giao Tiếp Người Máy</p>
						<p><span class="glyphicon glyphicon-map-marker"></span> Trường Đại học Công Nghệ Thông Tin</p>
						<p><span class="glyphicon glyphicon-phone"></span> 0969696969</p>
						<p><span class="glyphicon glyphicon-envelope"></span> thegioikhachsan@gmail.com</p>
					</div>

					<div class="col-sm-7 slideanim">
						<div class="row">
							<div class="col-sm-6 form-group">
								<input class="form-control" id="name" name="name" placeholder="Nhập đầy đủ họ và tên" type="text" required>
							</div>
							<div class="col-sm-6 form-group">
								<input class="form-control" id="email" name="email" placeholder="Email của bạn..." type="email" required>
							</div>
						</div>
						<textarea class="form-control" id="comments" name="comments" placeholder="Bạn cần hỗ trợ gì từ chúng tôi..." rows="5"></textarea><br>
						<div class="row">
							<div class="submit-contact">
								<button class="btn btn-default pull-right" type="submit" style="color: #FFFFFF; background-color: #0000FF">Send</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End Liên Hệ-->
		<!--Footer-->
		<footer class="container-fluid text-center">
			
				<div class="footer-bottom-top-grids">
					<div class="col-md-4 footer-bottom-left">
						<h4>Tải ứng dụng trên di động:</h4>
						<div class="d-apps">
							<ul>
								<li><a href="#"><img src="images/app1.png" alt="" /></a></li>
								<li><a href="#"><img src="images/app2.png" alt="" /></a></a></li>
								<li><a href="#"><img src="images/app3.png" alt="" /></a></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 footer-bottom-left">
						<h4>Chấp nhận thanh toán qua: </h4>
						<div class="a-cards">
							<ul>
								<li><a href="#"><img src="images/c1.png" alt="" /></a></li>
								<li><a href="#"><img src="images/c2.png" alt="" /></a></a></li>
								<li><a href="#"><img src="images/c3.png" alt="" /></a></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 footer-bottom-left">
						<h4>Theo dõi chúng tôi: </h4>
						<div class="social">
							<ul>
								<li><a href="#" class="facebook"> </a></li>
								<li><a href="#" class="facebook twitter"> </a></li>
								<li><a href="#" class="facebook chrome"> </a></li>
								<li><a href="#" class="facebook dribbble"> </a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="copyright">
						<p>Bản quyền © 2016 Thế Giới Khách Sạn . Thiết kế bởi <a href="https://www.facebook.com/NguyenVanNguyen.UIT">Nhóm 4 - Môn: Giao Tiếp Người Máy</a></p>
					</div>
				</div>
			
		</footer>
		<!-- End Footer -->
		