@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: url(s-BiyweUPV0v-yRb-cjciFQlYEbsez9cZjKsNMjLOwM.eot) /*tpa=http://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciFQlYEbsez9cZjKsNMjLOwM.eot*/;
}
